$backgroundSoftDark: #485f78;
$backgroundSoftLight: #bbd4f0;
$backgroundDark: #6facc1;
$backgroundLight: #d7eef6;
$darkHover: #638894;
$darkActive: #6facc1;
$lightHover: #d7eef6;
$lightActive: #6facc1;
$borderLight: 4px solid #88afdb;
$borderDark: 4px solid #1e3856;

header {
  display: flex;
  padding: 0 10px;
  margin: auto;
  margin-bottom: -20px;
}

main {
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: center;
  gap: 3rem;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

/* Recent Scores */
.title-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#refresh-button {
  padding: 0.3rem 1rem;
  font-weight: bold;
  font-size: 15px;
}

.score {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.score-text {
  margin: 7px;
  font-weight: bold;
}

/* Add your Score */
#form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-input {
  padding: 0.5rem;
}

#submit {
  padding: 0.3rem 1rem;
  font-weight: bold;
  font-size: 15px;
  align-self: end;
}

@media (max-width: 700px) {
  header {
    width: 90%;
  }

  main {
    flex-direction: column;
  }

  section {
    width: 100%;
  }
}

@media (min-width: 700px) {
  header {
    width: 85%;
  }

  main {
    flex-direction: row;
  }

  section {
    width: 45%;
  }
}

@media (prefers-color-scheme: dark) {
  /* Dark theme styles go here */
  body {
    background-color: black;
  }

  #scores-container {
    border: $borderDark;
  }

  .score:nth-child(odd) {
    background: $backgroundDark;
  }

  .score:nth-child(even) {
    background: $backgroundSoftDark;
  }

  h1,
  h2,
  p {
    color: white;
  }

  .form-input {
    border: $borderDark;
    background: $backgroundDark;
  }

  ::placeholder {
    color: white;
    opacity: 0.6;
  }

  #refresh-button,
  #submit {
    border: $borderDark;
    background-color: $backgroundSoftDark;
    color: white;
  }

  #refresh-button:hover,
  #submit:hover {
    background: $darkHover;
    color: white;
  }

  #refresh-button:active,
  #submit:active {
    background: $darkActive;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
  }

  #scores-container {
    border: $borderLight;
  }

  .score:nth-child(odd) {
    background: $backgroundLight;
  }

  .score:nth-child(even) {
    background: $backgroundSoftLight;
  }

  h1,
  h2,
  p {
    color: black;
  }

  .form-input {
    border: $borderLight;
    background: white;
  }

  #refresh-button,
  #submit {
    border: $borderLight;
    background-color: white;
  }

  #refresh-button:hover,
  #submit:hover {
    background: $lightHover;
    color: black;
  }

  #refresh-button:active,
  #submit:active {
    background: $lightActive;
    color: black;
  }
}
